body{
  background-color:#BAC3C5;
  font-family: 'Calistoga', cursive;
  color:#5A587F;
  padding: 50px,25px;
}
h1, h5, h3{
  padding:10px;
}
.jumbotron{
  text-align: left;
  background-color:#F1F4D5;
}
.card{
  width: 18rem;
}
#list{
  list-style-type: none;
}
.travel{
  display: none;
}
#error{
  display: none;
  color:red;
}
.inputStyle{
  border-radius: 8px;
}
.button{
  border-radius: 12px;
}
.button:hover{
  border-radius: 12px;
  background-color: #2EB7AC;
  color:#D5E1F4;
}
#showDoctor{
  display:none;
  text-align: left;
  width: 400px;
  padding: 25px;
  margin: 25px;
  background-color: #D5F4E8;
}
#fullName{
  font-size: 20px;
  font-weight: bold;
}
